<section class="descriptions schedule pink-bg padding-50-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="text-center">
        <%= image_tag 'frame4.png', class: 'heading-text' %>
          <p class="sub-heading">通い続けることで、スキルが着実にアップします</p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="step-content">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 objective secondary-color-bg">
                <p class="months">1month</p>
                  <div class="col-md-3 col-sm-4 col-xs-0 step">
                    <%= image_tag 'step1', width: '100%' %>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3 class="title-text">アプリが動く仕組みが分かる</h3>
                    <p>
                     プログラミングの仕組みを学び、アプリの裏側がどのような構造で動いているのかを理解できるようになります。</p>
                  </div>
              </div>
            </div> <!-- /END OBJECTIVE -->

              <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 step-arrow"></div>

            <div class="row"> <!-- OBJECTIVE -->
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 objective secondary-color-bg">
              <p class="months">3month</p>
                  <div class="col-md-3 col-sm-4 col-xs-0 step">
                    <%= image_tag 'step2', width: '100%' %>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3 class="title-text">エンジニアとスムーズに会話できるようになる</h3>
                    <p>
                      プログラミングの仕組みを知ることで、改善できる点を理解できるようになり、エンジニアに対して積極的な提案ができるようになります。
                    </p>
                  </div>
              </div>
            </div> <!-- /END OBJECTIVE -->

            <div class="row step-arrow-row">
              <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 step-arrow"></div>
            </div>

            <div class="row"> <!-- OBJECTIVE -->
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 objective secondary-color-bg">
              <p class="months">6month</p>
                  <div class="col-md-3 col-sm-4 col-xs-0 step">
                    <%= image_tag 'step3', width: '100%' %>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3 class="title-text">自分でアプリケーションを作ることができる</h3>
                    <p>
                      自分のアイディアをアプリとして形にできる実力が付き、仕事でもできることの幅が広がります。
                    </p>
                  </div>
              </div>
            </div> <!-- /END OBJECTIVE -->

            <div class="row step-arrow-row">
              <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 step-arrow"></div>
            </div>

            <div class="row"> <!-- OBJECTIVE -->
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 objective secondary-color-bg">
              <p class="months">12month</p>
                  <div class="col-md-3 col-sm-4 col-xs-0 step">
                    <%= image_tag 'step1', width: '100%' %>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3 class="title-text">エンジニアとスムーズに会話できるようになる</h3>
                    <p>
                      プログラミングの仕組みを知ることで、改善できる点を理解できるようになり、エンジニアに対して積極的な提案ができるようになります。
                    </p>
                  </div>
              </div> <!-- /END OBJECTIVE -->
            </div> <!-- /END DAY 1 -->
            <div class="row">
              <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 step-arrow-end"></div>
              <div class="dark-image-bg">
              </div>
            </div>
            <div class="row"> <!-- OBJECTIVE -->
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 objective secondary-color-bg final_step">
                    <h2 class="final-text">プログラミングを仕事にできる</h2>
                    <p class="sub-heading">企業のアプリ開発案件などを個人で引き受けて、<br>報酬をもらうことができます。</p>
                    <%= image_tag 'free_work' %>

              </div> <!-- /END OBJECTIVE -->
            </div>

        </div>
      </div>
    </div>  <!-- /.row -->
  </div>
</section>
