<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center padding-50-30 ">
        <%= image_tag 'frame5' %>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="gradient-overlay padding-20-40 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1  more_slide">
      <div class="section-heading text-center">

          <h2 class="more-text brush_font">Code Lady概要</h2>
      </div> <!-- /.section-heading -->
 
  <div class="row more_content">

    <div class="col-md-5 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
        <%= image_tag 'more1' %>
    </div>

    <div class="col-md-8 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
      <p class="media-small-text">週に２回、オフィスに来て頂き、<br>講義と実践を織り交ぜながらカリキュラムを進めます。</p>
    </div>
  </div>
  <div class="row more_content">

    <div class="col-md-4 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
        <%= image_tag 'more2' %>
    </div>

    <div class="col-md-8 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
      <p class="media-small-text">3月　日開始<br>水曜20:00- 22:00, 　土曜11:00- 13:00</p>
    </div>
  </div>
  <div class="row more_content">

    <div class="col-md-4 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
        <%= image_tag 'more3' %>
    </div>

    <div class="col-md-8 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
      <p class="media-small-text">月額<spnan class="cost">14,800</spnan>円　入会金<spna class="cost">10,000</spna>円<br>月謝制度なので、無理なく自分のペースで通えます。</p>
    </div>
  </div>
  <div class="row more_content">
    <div class="col-md-12 col-sm-8 col-md-offset-0 col-sm-offset-2 mb50">
      <%= image_tag 'cost_free', width: "100%" %>
    </div>
  </div>
  </div>  <!-- /.row -->
</div>
</div>
  </div>  <!-- /.row -->
