<div id="image__header">
  <%= image_tag 'frame2.png', class: "image-header"%>
</div>
<div class="reason__items section__content l-container">
  <div class="reason-item">
    <div class="reason-item__image">
      <%= image_tag 'reason_image1.png', class: 'reason_image'%>
    </div>
    <div class="reason-item__title">
      <%= image_tag 'reason_title1.png' %>
    </div>
    <div class="reason-item__content clearfix">
      <div class="reason-item__description l-col-6">
        <p>スキルを身につけることで環境に依存しない働き方ができます。場所、時間を選ばない<strong class="text--emphasis">「在宅プログラマ」</strong>は子育て中のママさんにうってつけの仕事。 <br>ライフイベントを大切にしたい女性にこそ、身につけてほしいスキルなのです。</p>
      </div>
    </div>
  </div>
  <div class="reason-item">
      <div class="reason-item__image">
        <%= image_tag 'reason_image2.png', class: 'reason_image'%>
      </div>
      <div class="reason-item__title">
        <%= image_tag 'reason_title2.png' %>
      </div>
      <div class="reason-item__content clearfix">
        <div class="reason-item__description l-col-6">
          <p>近年、女性をターゲットとしたアプリケーションが増加しています。 一方で国勢調査によると日本のIT業界は男性が81%、女性が19%。つまり、<strong class="text--emphasis">女性の気持ちがわかる」ことが非常に強みとなる</strong>ことがわかります。プログラミングのできる女性はIT業界で活躍できると言えます。


</p>
        </div>
      </div>
    </div>
</div>