<div class="strong_content">
  <div class="frame3">
    <%= image_tag 'frame3.png' %>
  </div>
  <ul class="strong_items">
    <li class="strong-item">
      <div class="strong-item_inner clearfix">
        <div class="strong-point_image">
          <%= image_tag 'strong_image2.png' %>
        </div>
        <div class="strong-item_content">
          <div class="strong-item_headline">
            <%= image_tag 'strong_item1' %>
            <h3 class="strong-title">1.女性限定だから安心できる</h3>
            <hr>
          </div>
          <p class="strong-item_description">男性が圧倒的に高いIT業界ですが、<strong class="text--emphasis">Code Ladyでは女性同士で楽しく学習できる、貴重な環境を提供します。</strong><br>休憩時間にはお菓子を食べながら、みなさんでリフレッシュしましょう。一人での学習になってしまいがちなプログラミングですが、一緒に学習する仲間がいればアイディアの共有や共同制作などもでき、楽しさは倍増します！</p>
        </div>
      </div>
    </li>
    <li class="strong-item">
      <div class="strong-item_inner clearfix">
        <div class="strong-point_image_right">
          <%= image_tag 'strong_image2.png' %>
        </div>
        <div class="strong-item_content">
          <div class="strong-item_headline">
            <%= image_tag 'strong_item2' %>
            <h3 class="strong-title">2.実践的なスキルが身につく</h3>
            <hr>
          </div>
          <p class="strong-item_description">カリキュラムでは実際に写真加工アプリや日記アプリを作りながらプログラミングを学んでいきます。実践を積み重ねることで、<strong class="text--emphasis">自分でアプリを作成する実力を確実につけていただきます。</strong>カリキュラム内でのアプリの難易度は段階的に上がっていくため、6ヶ月の受講を終えた頃には自分のアプリケーションを一から作成できます。</p>
        </div>
      </div>
    </li>
    <li class="strong-item">
      <div class="strong-item_inner clearfix">
        <div class="strong-point_image">
          <%= image_tag 'strong_image3.png' %>
        </div>
        <div class="strong-item_content">
          <div class="strong-item_headline">
            <%= image_tag 'strong_item3' %>
            <h3 class="strong-title">3.週に２回、習い事感覚で</h3>
            <hr>
          </div>
          <p class="strong-item_description">プログラミングスクールというと時間に縛られそうなイメージかもしれませんが、Code Ladyは週に２回なので、<strong class="text--emphasis">気軽に習い事感覚で始めることができます。</strong>仕事が忙しく参加ができない場合でも、オンラインでカリキュラムを進めることができます。チャットやビデオ通話でも質問していただけるので、好きな場所、時間にご自分のペースで進めることができます。</p>
        </div>
      </div>
    </li>
    <li class="strong-item">
      <div class="strong-item_inner clearfix">
        <div class="strong-point_image_right">
          <%= image_tag 'strong_image4.png' %>
        </div>
        <div class="strong-item_content">
          <div class="strong-item_headline">
            <%= image_tag 'strong_item4' %>
            <h3 class="strong-title">4.デザインスキルも身につく</h3>
            <hr>
          </div>
          <p class="strong-item_description">アプリ開発に加えて、デザインの学習も行います。生まれ持ってのものだと思われがちなデザインスキルですが、知識をつければ誰でもスキルを磨くことができます。実践的なデザインスキルを身につけることで、<strong class="text--emphasis">アプリのサービス開発だけでなくプレゼン資料の作成などにも、幅広く活かすことができます</strong></p>
        </div>
      </div>
    </li>
    <li class="strong-item">
      <div class="strong-item_inner clearfix">
        <div class="strong-point_image">
          <%= image_tag 'strong_image5.png' %>
        </div>
        <div class="strong-item_content">
          <div class="strong-item_headline">
            <%= image_tag 'strong_item5' %>
            <h3 class="strong-title">5.明るく優しいメンターがサポート</h3>
            <hr>
          </div>
          <p class="strong-item_description">オフィスではもちろん、オンラインのチャットでも、<br><strong class="text--emphasis">プログラミングの指導経験が豊富なメンターが全力でサポートします。</strong>プログラミング学習においては、「いかに１人で悩んでいる時間をなくせるか」がスキルアップの近道となります。そのためCode Ladyでは、いつでも気軽にご質問頂ける環境を用意しております。メンター一同、皆様にお会いできることを心から楽しみにしております！</p>
        </div>
      </div>
    </li>
  </ul>
</div>