<div id="main">

  <%= render partial: 'key_visual' %>
  <%= render partial: 'introduction' %>
  <%= render partial: 'features' %>
  <%= render partial: 'recommend' %>
  <%= render partial: 'reason' %>
  <%= render partial: 'codelady_slide' %>
  <%= render partial: 'strong' %>

</div>