<div id="main">

  <%= render partial: 'header' %>
  <%= render partial: 'key_visual' %>
  <%= render partial: 'introduction' %>
  <%= render partial: 'features' %>
  <%= render partial: 'recommend' %>

</div>